
body {
  margin: 0;
  font-family: "Helvetica", serif;
}

link {
  color: white;
}

/* ========== Header ========== */

.headerContainer {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to right bottom,
   rgba(126, 213, 111, 0.712), rgba(40, 180, 131, 0.8)),
    url(./images/concert.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* border: 2px solid red; */
}

.titleBox {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  /* text-shadow: 1px 1px 8px #afaeae; */
  /* border: red 1px solid; */
}

.title {
  margin-bottom: 35px;
}

.titleMain {
  font-size: 75px;
  letter-spacing: 19px;
}

.titleSub {
  font-size: 22px;
  font-weight: 100;
  line-height: 1em;
}

.icon {
  width: 60px;
  margin: 50px;
  background: transparent;
}


/* =================  Navbar  ===============*/

.navbar {
  height: 65px;
  color: white;
}

.navUl {
  float: right;
  font-size: 16px;
  margin: 20px 10px 0 0;
  /* border: 1px solid green; */
}

.navLi {
  display: inline-block;
  margin-right: 28px;
  /* border: 1px solid blue; */
}

.logo {
  height: 65px;
  margin: 15px 75px 0 50px;
  float: left;
  /* border: 1px solid blue; */
}

.signUp {
  border: 1px solid rgba(255, 0, 0, 0.404);
  text-align: center;
  height: 22px;
  width: 100px;
  padding-top: 5px;
}



/* ========== Search ========== */

.searchBar {
  margin-top: 90%;
  width: 500px;
  /* border: 1px solid blue; */
}

.searchBtn {
  border: 0;
  padding: 12px 26px;
  margin-top: 10px;
  border-radius: 100px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  background-color: white;
  color: #777;
  font-weight: 100;
  outline: none;
  /* box-shadow: 2px 2px 8px #afaeae; */
}

.searchBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

input {
  color: white;
  background-color: transparent;
  outline: none;
  border: 0;
  border-bottom: solid 2.5px rgba(255, 0, 0, 0.404);
  width: 70%;
  padding: 0 0 10px 20px;
  margin: 0 20px 30px 0;
  font-size: 20px;
}

input::-webkit-input-placeholder {
  font-size: 16px;
}

/* ========== Display ======== */
/* I use css grid for the display data
  but we don't know what the data will look like yet, so I didn't set row/column.
*/

.displayContainer {
  display: grid;
  text-align: center;
  position: absolute;
  top: 105%;
  left: auto;
  right: auto;
  grid-template-columns: auto auto auto;
  row-gap: 2rem;
  column-gap: 2rem;
  margin: 3rem;
  /* border: 1px solid green; */
}

.row {
  /* border: 1px solid blue; */
  padding: 40px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
              -20px -20px 60px #ffffff;
}

.rowTitle{
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.rowSubTitle {
  font-size: 0.9rem;
  text-align: right;
  margin-bottom: 0.5rem;
}

 .rowAudio {
  padding: 1rem;
 }

 .rowAudio a{
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}

.LyricsHead {
  font-size: 1.3rem;
  font-weight: lighter;
  text-align: left;
  margin-bottom: 1rem;
}

.rowLyrics {
  font-size: 1rem;
  font-weight: 200;
  text-align: left;
  line-height: 2rem;
  /* border: 1px solid red; */
}

.youtubeIcon {
  vertical-align: text-bottom;
  margin-left: 1rem;
  /* border: 1px solid red; */
}


/* ========== recommendations ========= */

.recommend {
  padding: 50px 28px;
  margin: 50px;
  border-radius: 20px;
  background: #ffffff;
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: left;
  box-shadow: 1px 5px 20px rgba(214, 213, 213, 0.356);
}

.songList {
  padding-left: 10px;
  line-height: 1.6em;
}

.singer {
  font-size: .8em;
  font-style: italic;
  padding-left: 8px;
}