
body {
  margin: 0;
  font-family: "Helvetica", serif;
  /* color: #777; */
}

link {
  color: white;
}

/* ========== Header ========== */

.headerContainer {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to right bottom,
   rgba(126, 213, 111, 0.712), rgba(40, 180, 131, 0.8)),
    url(./images/concert.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* border: 2px solid red; */
}

.titleBox {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  /* border: red 1px solid; */
}

.title {
  margin-bottom: 35px;
}

.titleMain {
  font-size: 75px;
  letter-spacing: 19px;
}

.titleSub {
  font-size: 22px;
  font-weight: 100;
  line-height: 1em;
}

.icon {
  width: 60px;
  margin: 50px;
  background: transparent;
}


/* =================  Navbar  ===============*/

.navbar {
  height: 65px;
  color: white;
}

.navUl {
  float: right;
  font-size: 16px;
  margin: 20px 10px 0 0;
  /* border: 1px solid green; */
}

.navLi {
  display: inline-block;
  margin-right: 28px;
  /* border: 1px solid blue; */
}

.logo {
  height: 65px;
  margin: 15px 75px 0 50px;
  float: left;
  /* border: 1px solid blue; */
}

.signUp {
  border: 1px solid rgba(255, 0, 0, 0.404);
  text-align: center;
  height: 22px;
  width: 100px;
  padding-top: 5px;
}



/* ========== Search ========== */

.searchBar {
  margin-top: 90%;
  width: 500px;
  /* border: 1px solid blue; */
}

.searchBtn {
  border: 0;
  padding: 12px 26px;
  border-radius: 100px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  background-color: white;
  color: #777;
  font-weight: 100;
  outline: none;
}

.searchBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

input {
  color: white;
  background-color: transparent;
  outline: none;
  border: 0;
  border-bottom: solid 2.5px rgba(255, 0, 0, 0.404);
  width: 70%;
  padding: 0 0 10px 20px;
  margin: 0 20px 30px 0;
  font-size: 20px;
}

input::-webkit-input-placeholder {
  font-size: 16px;
}

/* ========== Display ======== */
/* I use css grid for the display data
  but we don't know what the data will look like yet, so I didn't set row/column.
*/

.displayContainer {
  width: 70%;
  display: grid;
  text-align: center;
  position: absolute;
  top: 105%;
  left: auto;
  border: 1px solid red;
}